@import './../../mixin';
::placeholder {
    color: #aaaaaadc;
}

.login_Container {
    position: fixed;
    z-index: 100;
    height: calc(100vh + 10px);
    width: 100vw;
    top: -10px;
    background-color: rgba(0, 0, 0, 0.521);
    backdrop-filter: blur(2px);
    .form{
        @include flexbox("flex-start", "null");
        .field{
            @include flexbox("null","flex-start");
            flex-direction: column;
        }
    }
    .login,
    .register,
    .recovery {
        width: fit-content;
        padding: 0 50px 20px 50px;
    }
    input {
        line-height: 25px;
        padding: 7px 15px;
        width: 120%;
        /* font-size: 20px */
    }
}
.login-dialog {
    position: fixed;
    z-index: 200;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-login);
    transition: all 0.5s linear;
    .cancel-form {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.show {
    display: block;
}
.hide {
    display: none;
}