@import "./../../mixin";
:root {
    --height-avatar: 150px;
    --border-avatar: 15px;
}
.user-profile {
    width: 100%;
    position: relative;
    .bg {
        height: 150px;
        background-color: #000;
        border-radius: 0 0 10px 10px;
    }
    .container {
        @include flexbox("null", "center");
        width: 100%;
        position: absolute;
        top: 90px;
        .profile {
            width: 70%;
            height: fit-content;
            @include flexbox("center", "center");
            flex-direction: column;
            position: relative;
            background-color: var(--background-profile);
            .user-avatar {
                @include flexbox("center", "center");
                box-sizing: border-box;
                height: var(--height-avatar);
                width: 150px;
                height: 150px;
                border-radius: 75px;
                background: black;
                overflow: hidden;
                margin: 0;
                position: absolute;
                top: -75px;
                img {
                    height: calc(var(--height-avatar) - var(--border-avatar));
                    object-fit: cover;
                    border-radius: inherit;
                }
            }
            .describe {
                @include flexbox("null", "center");
                padding-top: 75px;
                .description {
                    font-size: 18px;
                    line-height: 27px;
                    max-width: 60%;
                    @include text-truncate(3);
                }
                .birth {
                    @include flexbox("null", "center");
                }
            }
        }
        .count-activity {
            width: min-content;
            text-align: left;
            white-space: nowrap;
            height: min-content;
        }
        .action {
            width: 70%;
            @include flexbox("center", "null");
            .activity {
                @include flexbox("null", "center");
                padding: 10px;
            }
        }
    }
    .edit-btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .post-list {
        width: 100%;
    }
}
