.previrewPost {
    width: 100%;
    min-width: 270px;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: left;
    background-color: var(--background-post);
    box-sizing: content-box;
}
.previrewPost:active {
    box-shadow: 0 0 0 2px var(--color-primary);
}
/* .previrewPost .avatar {
    background-image: url("https://pickaface.net/gallery/avatar/demo.webmaster541295de29059.png");
} */
.previrewPost .infoAuthor {
    text-align: left;
}
.previrewPost .infoAuthor .right {
    flex-direction: column;
    justify-content: space-around;
}
.previrewPost .infoAuthor .right p:first-child {
    font-size: 14px;
    line-height: 17.5px;
    /* font-weight: 500 */
}
.previrewPost .infoAuthor .right p:last-child {
    font-size: 12px;
    color: var(--color-text);
    font-weight: 300;
    line-height: 15px;
}
.previrewPost .body {
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 70px;
}
.previrewPost .body h1 {
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    /* margin-bottom: 40px; */
}
.previrewPost .bottom {
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}
.previrewPost .bottom .right {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.previrewPost .reaction,
.comment {
    align-items: center;
}

/* @media only screen and (max-width: 1200px) {
    .previrewPost{
        width: 60%;
    }
} */

@media only screen and (max-width: 768px) {
    .previrewPost {
        /* width: 90%; */
        font-size: 14px;
    }
}
