@import './../../mixin';
.previrewPost {
    width: 100%;
    min-width: 270px;
    max-width: 1000px;
    flex-wrap: wrap;
    @include flexbox("flex-start", "null");
    background-color: var(--background-post);
    box-sizing: content-box;
    .infoAuthor {
        text-align: left;
        .right {
            @include flexbox("space-around", "null");
            flex-direction: column;
            p:first-child {
                font-size: 14px;
                line-height: 17.5px;
                color: var(--color-text);
                /* font-weight: 500 */
            }
            p:last-child {
                font-size: 12px;
                color: var(--color-text);
                font-weight: 300;
                line-height: 15px;
            }
        }
    }
    .body {
        text-align: left;
        flex-direction: column;
        @include flexbox("null", "flex-start");
        margin-left: 70px;
        h1 {
            text-align: left;
            @include text-truncate(2);
        }
    }
    .bottom {
        width: 100%;
        @include flexbox("space-between", "flex-end");
        position: relative;
        .right {
            position: absolute;
            bottom: 0px;
            right: 0px;
        }
    }
    .reaction,
    .comment {
        align-items: center;
    }
}
.previrewPost:active {
    box-shadow: 0 0 0 2px var(--color-primary);
}

/* @media only screen and (max-width: 1200px) {
    .previrewPost{
        width: 60%;
    }
} */

@media only screen and (max-width: 768px) {
    .previrewPost {
        /* width: 90%; */
        font-size: 14px;
    }
}
