.nav {
    display: flex;
    justify-content: space-around;
    background: white;
}
.nav .left {
    width: 40%;
    display: flex;
    position: relative;
}
.nav .search {
    align-items: center;
    position: relative;
    width: 100%;
}
.nav .search input {
    padding: 10px;
    width: 80%;
}
.nav .search img {
    width: 35px;
    height: 35px;
    padding: 4px;
    position: absolute;
    right: calc(20% - 10px);
}
.nav-search {
    padding: 5px 10px;
    font-size: 16px;
    margin: 0 10px;
}

.nav .right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-icon {
    padding: 10px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    display: flex;
}
.nav .avatar {
    background-image: url("https://lh3.googleusercontent.com/proxy/mVieVNDKQxbtxZyEfZgJU0UReWNdH6LcVSNhPZNA1yIltL-0YNy7aJqp3qu6xUBf50dnCn903BZ6YpUwiEQHYw-6lqpL4jFHB5A40r_n5Ug2N-ZtQulot1H0j0U2TvE");
    position: relative;
    overflow: hidden;
}
.nav .avatar:hover {
    overflow: visible;
    transition: all 0.3s;
}
.nav .avatar:hover > .user-popup {
    opacity: 100%;
    transition: all 0.3s;
}
.user-popup {
    position: absolute;
    right: 0;
    top: 50px;
    width: 230px;
    border: 2px solid black;
    border-radius: var(--border-radius);
    background-color: white;
    text-align: left;
    box-shadow: 3px 3px black;
    opacity: 0;
    transition: all 0.3s;
    z-index: 999;
}

.user-popup::before {
    /* border: 1px solid black; */
    content: "";
    padding: 20px 30px;
    position: absolute;
    right: -10px;
    top: -20px;
}
.bdb-2 {
    border-bottom: 1px solid rgba(90, 90, 90, 0.144);
}
