/* css lib */
:root {
    --color-primary: #4150f5;
    --color-primary-hover: #323ebe;
    --color-primary-light: #dae5fc;
    --color-secondary: #b5bdc4;

    --color-text-default: #3d3d3d;
    --color-text-default-light: #64707d;

    --color-background-1: #fff;
    --color-background-2: #f8f8f8;
    --color-background-3: #dadbdb;

    --border-color: #d7d9d9;

    --border-radius: 5px;
    --border-cycle: 100%;
    --max-width-site: 1280px;
    --max-width-content: 1024px;
    --scrollbar-width: 8px;

    --height-avatar: 150px;
    --border-avatar: 15px;

    --transition-time-default: 0.5s;
}
html[data-theme="dark"] {
    --color-primary: #4150f5;
    --color-primary-hover: #1827d1;
    --color-primary-light: #47587c;
    --color-secondary: #b5bdc4;

    --color-text-default: #a0aec0;
    --color-text-default-light: #a0aec0;

    --color-background-1: #1a202c;
    --color-background-2: #2d3748;
    --color-background-3: #414f68;

    --border-color: #ffffff29;

    --border-radius: 5px;
    --border-cycle: 100%;
    --max-width-site: 1280px;
    --max-width-content: 1024px;
    --scrollbar-width: 8px;

    --height-avatar: 150px;
    --border-avatar: 15px;

    --transition-time-default: 0.5s;
}

@font-face {
    font-family: "SegoeUI";
    src: local("SegoeUI"), url("./assets/fonts/SVN-SegoeUI.ttf") format("ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: var(--color-background-2);
    font-family: "SegoeUI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-text-default);
    font-size: 62.5%;
    transition: background var(--transition-time-default);
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p,
span {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
}
a {
    color: var(--color-text-default);
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 2.4rem;
}
h1 {
    font-size: 3.2rem;
    line-height: 4.8rem;
    font-weight: 800;
}
h2 {
    font-size: 2.4rem;
    line-height: 3.2rem;
}
h3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.4rem;
}
h5 {
    font-size: 1.3rem;
    line-height: 2.4rem;
}
h6 {
    font-size: 1rem;
    line-height: 2.4rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

// icon
.icon-sm {
    width: 20px;
    height: 20px;
}
.icon-md {
    width: 25px;
    height: 25px;
}
.icon-lg {
    width: 30px;
    height: 30px;
}
.avatar {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 35px;
    margin: 0 10px;
    object-fit: cover;
}
// text
.text-light {
    color: var(--color-text-default-light);
}
.text-center {
    text-align: center;
}
// button
button {
    display: inherit;
    outline: inherit;
    border: inherit;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.button-lg {
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    padding: 7px 15px;
    width: fit-content !important;
    height: 40px !important;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.button-sm {
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    padding: 5px 13px 8px 13px;
    width: fit-content;
    height: fit-content;
    color: white;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
}
.button-tn {
    background-color: var(--color-primary);
    margin: 5px 0;
    padding: 3px 5px;
    font-size: 12px;
    width: min-content;
    color: white;
    border-radius: var(--border-radius);
}
.button-outline{
    background-color: transparent;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    cursor: pointer;
}
.button-outline:hover{
    background-color: var(--color-primary);
    color: white;
}

//hover
.hover-button:hover {
    background-color: var(--color-primary-hover);
    transition: all 0.5s;
}

.hover-bg:hover {
    background-color: var(--color-primary-light);
    transition: all 0.5s;
}
.hover-text:hover {
    color: var(--color-primary-hover);
    transition: all 0.5s;
}

//border
.bd-radius-5 {
    border-radius: var(--border-radius);
}
.border {
    border: 1px solid var(--border-color);
}
.bd-cycle {
    border-radius: var(--border-cycle);
}


// ------------

//input
.input {
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    outline: none;
    color: var(--color-text-default);
}
.input:focus {
    box-shadow: 2px 2px var(--color-primary);
    border-color: var(--color-primary);
    transition: box-shadow 0.3s;
}
// ------------
// util
.bg-post {
    background-color: var(--color-background-1);
}
.tag {
    font-weight: 200;
    background-color: var(--color-secondary);
}

.cursor-pointer {
    cursor: pointer;
}

/* class nesscesary */
.df {
    display: flex;
}
.justify-c {
    justify-content: center;
}
.justify-fs {
    justify-content: flex-start;
}
.align-c {
    align-items: center;
}
.align-fs {
    align-items: flex-start;
}
.align-fs {
    align-items: flex-start;
}
.fd-c {
    flex-direction: column;
}
.pd-0 {
    padding: 0;
}
.pd-5 {
    padding: 5px;
}
.pdl-5 {
    padding-left: 5px;
}
.pdr-5 {
    padding-right: 5px;
}
.pdt-5 {
    padding-top: 5px;
}
.pdb-5 {
    padding-bottom: 5px;
}
.pd-10 {
    padding: 10px;
}
.pdl-10 {
    padding-left: 10px;
}
.pdr-10 {
    padding-right: 10px;
}
.pdt-10 {
    padding-top: 10px;
}
.pdb-10 {
    padding-bottom: 10px;
}
.pd-20 {
    padding: 20px;
}
.pdl-20 {
    padding-left: 20px;
}
.pdr-20 {
    padding-right: 20px;
}
.pdt-20 {
    padding-top: 20px;
}
.pdb-20 {
    padding-bottom: 20px;
}

.mg-0 {
    margin: 0;
}
.mgl-0 {
    margin-left: 0;
}
.mgr-0 {
    margin-right: 0;
}
.mgt-0 {
    margin-top: 0;
}
.mgb-0 {
    margin-bottom: 0;
}
.mg-5 {
    margin: 5px;
}
.mgl-5 {
    margin-left: 5px;
}
.mgr-5 {
    margin-right: 5px;
}
.mgt-5 {
    margin-top: 5px;
}
.mgb-5 {
    margin-bottom: 5px;
}
.mg-10 {
    margin: 10px;
}
.mg-20 {
    margin-bottom: 20px;
}

.mgl-5 {
    margin-left: 5px;
}
.mgr-5 {
    margin-right: 5px;
}
.mgt-5 {
    margin-top: 5px;
}
.mgb-5 {
    margin-bottom: 5px;
}

.mgl-10 {
    margin-left: 10px;
}
.mgr-10 {
    margin-right: 10px;
}
.mgt-10 {
    margin-top: 10px;
}
.mgb-10 {
    margin-bottom: 10px;
}

.mg-15 {
    margin: 15px;
}
.mgl-15 {
    margin-left: 15px;
}
.mgr-15 {
    margin-right: 15px;
}
.mgt-15 {
    margin-top: 15px;
}
.mgb-15 {
    margin-bottom: 15px;
}
.mg-20 {
    margin: 20px;
}
.mgl-20 {
    margin-left: 20px;
}
.mgr-20 {
    margin-right: 20px;
}
.mgt-20 {
    margin-top: 20px;
}
.mgb-20 {
    margin-bottom: 20px;
}

::placeholder {
    color: #aaaaaadc;
}

/* width */
::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--color-background-2);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(120, 123, 163);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: currentColor;
}

.wmde-markdown {
    font-size: 2rem !important;
    line-height: 3rem !important;
    p {
        font-size: 2rem !important;
        line-height: 3rem !important;
    }
}
