* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: var(--color-background-2);
    font-family: "SegoeUI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-default);
    font-weight: 400;
}

/* css lib */
:root {
    --color-primary: #4150f5;
    --color-primary-hover: #323ebe;
    --color-primary-light: #dae5fc;
    --color-secondary: #b5bdc4;

    --text-default: #3d3d3d;
    --text-default-light: #64707d;

    --color-background-1: #fff;
    --color-background-2: #f8f8f8;
    --color-background-3: #dadbdb;

    --border-color: #d7d9d9;

    --border-radius: 5px;
    --max-width-site: 1280px;
}
html[data-theme="dark"] {
    --color-primary: #4150f5;
    --color-primary-hover: #1827d1;
    --color-primary-light: #47587c;
    --color-secondary: #b5bdc4;

    --text-default: #a0aec0;
    --text-default-light: #64707d;

    --color-background-1: #1a202c;
    --color-background-2: #2d3748;
    --color-background-3: #414f68;

    --border-color: #ffffff29;

    --border-radius: 5px;
    --max-width-site: 1280px;
}

@font-face {
    font-family: "SegoeUI";
    src: local("SegoeUI"), url("./assets/fonts/SVN-SegoeUI.ttf") format("ttf");
}
// icon
.icon-sm {
    width: 20px;
    height: 20px;
}
.icon-md {
    width: 25px;
    height: 25px;
}
.icon-lg {
    width: 30px;
    height: 30px;
}
.avatar {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 35px;
    margin: 0 10px;
    object-fit: cover;
}
// text
.text-light {
    color: var(--text-default-light);
}
.text-center {
    text-align: center;
}
// button
button {
    display: inherit;
    outline: inherit;
    border: inherit;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.button-lg {
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    padding: 7px 15px;
    width: fit-content !important;
    height: 40px !important;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.button-sm {
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    padding: 5px 13px 8px 13px;
    width: fit-content;
    height: fit-content;
    color: white;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
}
.button-tn {
    background: var(--color-primary);
    margin: 5px 0;
    padding: 3px 5px;
    font-size: 12px;
    width: min-content;
    color: white;
    border-radius: var(--border-radius);
}
.bd-radius-5 {
    border-radius: var(--border-radius);
}
.boder {
    border: 1px solid var(--border-color);
}

//hover
.hover-button:hover {
    background-color: var(--color-primary-hover);
    transition: all 0.5s;
}

.hover-bg:hover {
    background-color: var(--color-primary-light);
    transition: all 0.5s;
}
.hover-text:hover {
    color: var(--color-primary-hover);
    transition: all 0.5s;
}
// ------------

//input
.input {
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    outline: none;
    color: var(--text-default);
}
.input:focus {
    box-shadow: 2px 2px var(--color-primary);
    border-color: var(--color-primary);
    transition: box-shadow 0.3s;
}
// ------------
// util
.bg-post {
    background-color: var(--color-background-1);
}
.tag {
    font-weight: 200;
    background-color: var(--color-secondary);
}

.cursor-pointer {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: inherit;
}
/* class nesscesary */
.df {
    display: flex;
}
.justify-c {
    justify-content: center;
}
.justify-fs {
    justify-content: flex-start;
}
.align-c {
    align-items: center;
}
.align-fs {
    align-items: flex-start;
}
.align-fs {
    align-items: flex-start;
}
.fd-c {
    flex-direction: column;
}
.pd-0 {
    padding: 0;
}
.pd-5 {
    padding: 5px;
}
.pdl-5 {
    padding-left: 5px;
}
.pdr-5 {
    padding-right: 5px;
}
.pdt-5 {
    padding-top: 5px;
}
.pdb-5 {
    padding-bottom: 5px;
}
.pd-10 {
    padding: 10px;
}
.pdl-10 {
    padding-left: 10px;
}
.pdr-10 {
    padding-right: 10px;
}
.pdt-10 {
    padding-top: 10px;
}
.pdb-10 {
    padding-bottom: 10px;
}
.pd-20 {
    padding: 20px;
}
.pdl-20 {
    padding-left: 20px;
}
.pdr-20 {
    padding-right: 20px;
}
.pdt-20 {
    padding-top: 20px;
}
.pdb-20 {
    padding-bottom: 20px;
}

.mg-0 {
    margin: 0;
}
.mgl-0 {
    margin-left: 0;
}
.mgr-0 {
    margin-right: 0;
}
.mgt-0 {
    margin-top: 0;
}
.mgb-0 {
    margin-bottom: 0;
}
.mg-5 {
    margin: 5px;
}
.mgl-5 {
    margin-left: 5px;
}
.mgr-5 {
    margin-right: 5px;
}
.mgt-5 {
    margin-top: 5px;
}
.mgb-5 {
    margin-bottom: 5px;
}
.mg-10 {
    margin: 10px;
}
.mg-20 {
    margin-bottom: 20px;
}

.mgl-5 {
    margin-left: 5px;
}
.mgr-5 {
    margin-right: 5px;
}
.mgt-5 {
    margin-top: 5px;
}
.mgb-5 {
    margin-bottom: 5px;
}

.mgl-10 {
    margin-left: 10px;
}
.mgr-10 {
    margin-right: 10px;
}
.mgt-10 {
    margin-top: 10px;
}
.mgb-10 {
    margin-bottom: 10px;
}

.mg-15 {
    margin: 15px;
}
.mgl-15 {
    margin-left: 15px;
}
.mgr-15 {
    margin-right: 15px;
}
.mgt-15 {
    margin-top: 15px;
}
.mgb-15 {
    margin-bottom: 15px;
}
.mg-20 {
    margin: 20px;
}
.mgl-20 {
    margin-left: 20px;
}
.mgr-20 {
    margin-right: 20px;
}
.mgt-20 {
    margin-top: 20px;
}
.mgb-20 {
    margin-bottom: 20px;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e9e9e9;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(182, 182, 182);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(120, 123, 163);
}
